body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../统计收起_files/u6_normal.png');
}

.u0_container {
    position:absolute;
    left:200px;
    top:406px;
    width:1080px;
    height:42px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:48px;
}

.u1 {
    position:absolute;
    left:2px;
    top:13px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:296px;
    top:420px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:376px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:496px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:436px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:556px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../统计收起_files/u13_normal.png');
}

.u7_container {
    position:absolute;
    left:227px;
    top:416px;
    width:63px;
    height:23px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:29px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:617px;
    top:420px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:696px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:816px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:756px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:877px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:937px;
    top:420px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:1016px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:1137px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1076px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1197px;
    top:420px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../页头-概览_files/u240_normal.png');
}

.u20_container {
    position:absolute;
    left:150px;
    top:262px;
    width:1200px;
    height:35px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../页头-概览_files/u242_normal.png');
}

.u22_container {
    position:absolute;
    left:259px;
    top:262px;
    width:79px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u24_container {
    position:absolute;
    left:338px;
    top:262px;
    width:79px;
    height:35px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u26_container {
    position:absolute;
    left:417px;
    top:262px;
    width:79px;
    height:35px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u28_container {
    position:absolute;
    left:496px;
    top:262px;
    width:79px;
    height:35px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u30_container {
    position:absolute;
    left:575px;
    top:262px;
    width:79px;
    height:35px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u32_container {
    position:absolute;
    left:654px;
    top:262px;
    width:79px;
    height:35px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../页头-概览_files/u254_normal.png');
}

.u34_container {
    position:absolute;
    left:150px;
    top:262px;
    width:109px;
    height:35px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:41px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../页头-概览_files/u256_normal.png');
}

.u36_container {
    position:absolute;
    left:1257px;
    top:262px;
    width:93px;
    height:35px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:41px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:200px;
    top:507px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../表达式_二次检索_files/u229_normal.png');
}

.u40_container {
    position:absolute;
    left:150px;
    top:297px;
    width:1200px;
    height:86px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:92px;
}

.u41 {
    position:absolute;
    left:2px;
    top:35px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../表达式_二次检索_files/u231_normal.png');
}

.u42_container {
    position:absolute;
    left:1063px;
    top:317px;
    width:99px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u43 {
    position:absolute;
    left:2px;
    top:10px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:420px;
    top:317px;
    width:633px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_normal {
    background-image: url('../表达式_二次检索_files/u234_normal.png');
}

.u45_container {
    position:absolute;
    left:319px;
    top:317px;
    width:109px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../表达式_二次检索_files/u236_normal.png');
}

.u47_container {
    position:absolute;
    left:219px;
    top:317px;
    width:100px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:1172px;
    top:329px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../图文_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:1233px;
    top:468px;
    width:47px;
    height:24px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../图文_files/u51_normal.png');
}

.u53_container {
    position:absolute;
    left:1186px;
    top:468px;
    width:47px;
    height:24px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../图文_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:1139px;
    top:468px;
    width:47px;
    height:24px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../图文_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:1092px;
    top:468px;
    width:47px;
    height:24px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../排序合并同族_files/u35_normal.png');
}

.u59_container {
    position:absolute;
    left:413px;
    top:468px;
    width:90px;
    height:24px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:30px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../排序合并同族_files/u37_normal.png');
}

.u61_container {
    position:absolute;
    left:296px;
    top:468px;
    width:86px;
    height:24px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:30px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../排序合并同族_files/u37_normal.png');
}

.u63_container {
    position:absolute;
    left:200px;
    top:468px;
    width:86px;
    height:24px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:30px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../排序合并同族_files/u41_normal.png');
}

.u65_container {
    position:absolute;
    left:382px;
    top:468px;
    width:21px;
    height:24px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:30px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../图文_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1080px;
    height:3px;
}

.u68 {
    position:absolute;
    left:200px;
    top:487px;
    width:1080px;
    height:10px;
    
}

.u70 {
    position:absolute;
    left:228px;
    top:579px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:618px;
    top:579px;
    width:75px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:228px;
    top:619px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:1036px;
    top:607px;
    width:244px;
    height:149px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u75 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:228px;
    top:694px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:703px;
    top:581px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:228px;
    top:742px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:288px;
    top:742px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:228px;
    top:800px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u84_container {
    position:absolute;
    left:618px;
    top:800px;
    width:75px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:228px;
    top:840px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u87_container {
    position:absolute;
    left:1036px;
    top:828px;
    width:244px;
    height:149px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u88 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:228px;
    top:915px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:703px;
    top:802px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:228px;
    top:963px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:288px;
    top:963px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:228px;
    top:1021px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u97_container {
    position:absolute;
    left:618px;
    top:1021px;
    width:75px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:228px;
    top:1061px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u100_container {
    position:absolute;
    left:1036px;
    top:1049px;
    width:244px;
    height:149px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u101 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:228px;
    top:1136px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:703px;
    top:1023px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:228px;
    top:1184px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:288px;
    top:1184px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:228px;
    top:1242px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u110_container {
    position:absolute;
    left:618px;
    top:1242px;
    width:75px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:228px;
    top:1282px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u113_container {
    position:absolute;
    left:1036px;
    top:1270px;
    width:244px;
    height:149px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u114 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:228px;
    top:1357px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:703px;
    top:1244px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:228px;
    top:1405px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:288px;
    top:1405px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:228px;
    top:1463px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u123_container {
    position:absolute;
    left:618px;
    top:1463px;
    width:75px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:228px;
    top:1503px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u126_container {
    position:absolute;
    left:1036px;
    top:1491px;
    width:244px;
    height:149px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u127 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:228px;
    top:1578px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:703px;
    top:1465px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:228px;
    top:1626px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:288px;
    top:1626px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:228px;
    top:1684px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u136_container {
    position:absolute;
    left:618px;
    top:1684px;
    width:75px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:228px;
    top:1724px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u139_container {
    position:absolute;
    left:1036px;
    top:1712px;
    width:244px;
    height:149px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u140 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:228px;
    top:1799px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:703px;
    top:1686px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:228px;
    top:1847px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:288px;
    top:1847px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:228px;
    top:1905px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u149_container {
    position:absolute;
    left:618px;
    top:1905px;
    width:75px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:228px;
    top:1945px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u152_container {
    position:absolute;
    left:1036px;
    top:1933px;
    width:244px;
    height:149px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u153 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:228px;
    top:2020px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:703px;
    top:1907px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:228px;
    top:2068px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:288px;
    top:2068px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:228px;
    top:2126px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u162_container {
    position:absolute;
    left:618px;
    top:2126px;
    width:75px;
    height:20px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:228px;
    top:2166px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u165_container {
    position:absolute;
    left:1036px;
    top:2154px;
    width:244px;
    height:149px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u166 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:228px;
    top:2241px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:703px;
    top:2128px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:228px;
    top:2289px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:288px;
    top:2289px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:228px;
    top:2347px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u175_container {
    position:absolute;
    left:618px;
    top:2347px;
    width:75px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:228px;
    top:2387px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u178_container {
    position:absolute;
    left:1036px;
    top:2375px;
    width:244px;
    height:149px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u179 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:228px;
    top:2462px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:703px;
    top:2349px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:228px;
    top:2510px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:288px;
    top:2510px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:228px;
    top:2568px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u188_container {
    position:absolute;
    left:618px;
    top:2568px;
    width:75px;
    height:20px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u189 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:228px;
    top:2608px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u191_container {
    position:absolute;
    left:1036px;
    top:2596px;
    width:244px;
    height:149px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u192 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:228px;
    top:2683px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:703px;
    top:2570px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:228px;
    top:2731px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:288px;
    top:2731px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u200_container {
    position:absolute;
    left:365px;
    top:2807px;
    width:27px;
    height:30px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u201 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u202_container {
    position:absolute;
    left:335px;
    top:2807px;
    width:27px;
    height:30px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u203 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../翻页空间-长_files/u163_normal.png');
}

.u204_container {
    position:absolute;
    left:305px;
    top:2807px;
    width:27px;
    height:30px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u205 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../翻页空间-长_files/u165_normal.png');
}

.u206_container {
    position:absolute;
    left:227px;
    top:2807px;
    width:68px;
    height:30px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u207 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../翻页空间-长_files/u167_normal.png');
}

.u208_container {
    position:absolute;
    left:587px;
    top:2807px;
    width:68px;
    height:30px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u209 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u210_container {
    position:absolute;
    left:457px;
    top:2807px;
    width:27px;
    height:30px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u211 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u212_container {
    position:absolute;
    left:427px;
    top:2807px;
    width:27px;
    height:30px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u213 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u214_container {
    position:absolute;
    left:397px;
    top:2807px;
    width:27px;
    height:30px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u215 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u216_container {
    position:absolute;
    left:489px;
    top:2807px;
    width:27px;
    height:30px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u217 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u218_container {
    position:absolute;
    left:549px;
    top:2807px;
    width:27px;
    height:30px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u219 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u220_container {
    position:absolute;
    left:519px;
    top:2807px;
    width:27px;
    height:30px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u221 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:665px;
    top:2814px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:763px;
    top:2807px;
    width:32px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u224_normal {
    background-image: url('../翻页空间-长_files/u167_normal.png');
}

.u224_container {
    position:absolute;
    left:805px;
    top:2807px;
    width:68px;
    height:30px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u225 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:1464px;
    top:549px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u228_container {
    position:absolute;
    left:1854px;
    top:549px;
    width:75px;
    height:20px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u229 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:1464px;
    top:589px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u231_container {
    position:absolute;
    left:2272px;
    top:577px;
    width:244px;
    height:149px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u232 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:1464px;
    top:664px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:1939px;
    top:551px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:1464px;
    top:712px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:1524px;
    top:712px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:1629px;
    top:749px;
    width:279px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_normal {
    background-image: url('../搜索概览-图文_files/u241_normal.png');
}

.u241_container {
    position:absolute;
    left:1557px;
    top:717px;
    width:17px;
    height:22px;
}

#u241_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:22px;
}

.u242 {
    position:absolute;
    left:2px;
    top:3px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_normal {
    background-image: url('../收藏下载_files/u316_normal.png');
}

.u243_container {
    position:absolute;
    left:200px;
    top:533px;
    width:1080px;
    height:25px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:31px;
}

.u244 {
    position:absolute;
    left:2px;
    top:4px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_normal {
    background-image: url('../收藏下载_files/u318_normal.png');
}

.u245_container {
    position:absolute;
    left:1250px;
    top:533px;
    width:30px;
    height:25px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u246 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../收藏下载_files/u318_normal.png');
}

.u247_container {
    position:absolute;
    left:1221px;
    top:533px;
    width:30px;
    height:25px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u248 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../收藏下载_files/u322_normal.png');
}

.u249_container {
    position:absolute;
    left:1191px;
    top:533px;
    width:30px;
    height:25px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u250 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253_normal {
    background-image: url('../收藏下载_files/u326_normal.png');
}

.u253_container {
    position:absolute;
    left:393px;
    top:533px;
    width:54px;
    height:25px;
}

#u253_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:31px;
}

.u254 {
    position:absolute;
    left:2px;
    top:4px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../收藏下载_files/u326_normal.png');
}

.u255_container {
    position:absolute;
    left:447px;
    top:533px;
    width:54px;
    height:25px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:31px;
}

.u256 {
    position:absolute;
    left:2px;
    top:4px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257 {
    position:absolute;
    left:295px;
    top:538px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259 {
    position:absolute;
    left:227px;
    top:2893px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260 {
    position:absolute;
    left:277px;
    top:2931px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:427px;
    top:2931px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262 {
    position:absolute;
    left:577px;
    top:2931px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:727px;
    top:2931px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264 {
    position:absolute;
    left:877px;
    top:2931px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265 {
    position:absolute;
    left:277px;
    top:2971px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u266 {
    position:absolute;
    left:427px;
    top:2971px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267 {
    position:absolute;
    left:577px;
    top:2971px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u268 {
    position:absolute;
    left:727px;
    top:2971px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269 {
    position:absolute;
    left:877px;
    top:2971px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

