body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:205px;
  top:338px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:481px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:205px;
  top:100px;
  width:223px;
  height:50px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:51px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:205px;
  top:338px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:205px;
  top:155px;
  width:828px;
  height:69px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:70px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:205px;
  top:358px;
  width:320px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:312px;
  top:369px;
  width:85px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:214px;
  top:366px;
  width:51px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:315px;
  top:412px;
  width:100px;
  height:156px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:157px;
}
#u15 {
  position:absolute;
  left:2px;
  top:70px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:420px;
  top:412px;
  width:100px;
  height:105px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u17 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:553px;
  top:467px;
  width:102px;
  height:113px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:114px;
}
#u19 {
  position:absolute;
  left:2px;
  top:48px;
  width:98px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:205px;
  top:296px;
  width:204px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:210px;
  top:556px;
  width:100px;
  height:144px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:145px;
}
#u23 {
  position:absolute;
  left:2px;
  top:64px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:315px;
  top:574px;
  width:100px;
  height:111px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:112px;
}
#u25 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:420px;
  top:522px;
  width:100px;
  height:105px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u27 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:210px;
  top:412px;
  width:100px;
  height:139px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:139px;
}
#u29 {
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:266px;
  top:534px;
  width:43px;
  height:12px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:39px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:210px;
  top:706px;
  width:100px;
  height:103px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:104px;
}
#u33 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:315px;
  top:690px;
  width:100px;
  height:111px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:112px;
}
#u35 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:420px;
  top:634px;
  width:100px;
  height:105px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u37 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:420px;
  top:744px;
  width:100px;
  height:67px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u39 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:205px;
  top:769px;
  width:80px;
  height:49px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:285px;
  top:769px;
  width:80px;
  height:49px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:365px;
  top:769px;
  width:80px;
  height:49px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:445px;
  top:769px;
  width:80px;
  height:49px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:224px;
  top:784px;
  width:41px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:305px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:384px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:464px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:612px;
  top:558px;
  width:43px;
  height:12px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-3px;
  width:39px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:849px;
  top:338px;
  width:320px;
  height:480px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:481px;
}
#u60 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:959px;
  top:347px;
  width:100px;
  height:139px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:140px;
}
#u62 {
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:854px;
  top:348px;
  width:100px;
  height:139px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:140px;
}
#u64 {
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1064px;
  top:347px;
  width:100px;
  height:94px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:95px;
}
#u66 {
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:854px;
  top:476px;
  width:100px;
  height:129px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:130px;
}
#u68 {
  position:absolute;
  left:2px;
  top:56px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:959px;
  top:492px;
  width:100px;
  height:99px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1064px;
  top:446px;
  width:100px;
  height:94px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:95px;
}
#u72 {
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:854px;
  top:347px;
  width:100px;
  height:124px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:124px;
}
#u74 {
  position:absolute;
  left:2px;
  top:54px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:910px;
  top:450px;
  width:43px;
  height:12px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-3px;
  width:39px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:854px;
  top:611px;
  width:100px;
  height:105px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u78 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:959px;
  top:597px;
  width:100px;
  height:113px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:114px;
}
#u80 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1064px;
  top:545px;
  width:100px;
  height:94px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:95px;
}
#u82 {
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1064px;
  top:645px;
  width:100px;
  height:68px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u84 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:849px;
  top:769px;
  width:80px;
  height:49px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:929px;
  top:769px;
  width:80px;
  height:49px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1009px;
  top:769px;
  width:80px;
  height:49px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u91 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1089px;
  top:769px;
  width:80px;
  height:49px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:868px;
  top:784px;
  width:41px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:949px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1028px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1108px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:848px;
  top:293px;
  width:400px;
  height:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:849px;
  top:338px;
  width:320px;
  height:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:988px;
  top:720px;
  width:42px;
  height:42px;
  font-size:11px;
  color:#BCBCBC;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u107 {
  position:absolute;
  left:2px;
  top:15px;
  width:38px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:205px;
  top:249px;
  width:223px;
  height:33px;
  font-size:24px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:451px;
  top:366px;
  width:69px;
  height:28px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:398px;
  top:372px;
  width:20px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
