body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:50px;
  width:1100px;
  height:1655px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:1656px;
}
#u2 {
  position:absolute;
  left:2px;
  top:820px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:130px;
  top:13px;
  width:103px;
  height:24px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D7D7D7;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:243px;
  top:9px;
  width:90px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:355px;
  top:17px;
  width:69px;
  height:18px;
  color:#F2F2F2;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:667px;
  top:17px;
  width:83px;
  height:18px;
  color:#F2F2F2;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:445px;
  top:17px;
  width:92px;
  height:18px;
  color:#F2F2F2;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:558px;
  top:17px;
  width:87px;
  height:18px;
  color:#F2F2F2;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:264px;
  top:17px;
  width:69px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1179px;
  top:45px;
  width:69px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1179px;
  top:90px;
  width:69px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1271px;
  top:79px;
  width:95px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1279px;
  top:45px;
  width:79px;
  height:18px;
  color:#666666;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1279px;
  top:87px;
  width:79px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1179px;
  top:135px;
  width:69px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1271px;
  top:127px;
  width:95px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1279px;
  top:135px;
  width:79px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:50px;
  top:1007px;
  width:1100px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:81px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:404px;
  top:1052px;
  width:393px;
  height:15px;
  color:#D7D7D7;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:310px;
  top:1026px;
  width:579px;
  height:18px;
  color:#D7D7D7;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:945px;
  top:9px;
  width:32px;
  height:32px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:987px;
  top:17px;
  width:60px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1210px;
  top:195px;
  width:164px;
  height:147px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:148px;
}
#u47 {
  position:absolute;
  left:2px;
  top:66px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1233px;
  top:204px;
  width:32px;
  height:32px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1275px;
  top:212px;
  width:60px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1275px;
  top:252px;
  width:83px;
  height:18px;
  color:#BCBCBC;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1275px;
  top:281px;
  width:83px;
  height:18px;
  color:#BCBCBC;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1275px;
  top:310px;
  width:83px;
  height:18px;
  color:#BCBCBC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1034px;
  top:23px;
  width:8px;
  height:5px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:188px;
  top:359px;
  width:365px;
  height:20px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:188px;
  top:405px;
  width:134px;
  height:41px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#363636;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:145px;
  top:169px;
  width:214px;
  height:22px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:23px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:145px;
  top:127px;
  width:83px;
  height:22px;
  font-family:'', '', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:117px;
  top:82px;
  width:146px;
  height:17px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:188px;
  top:212px;
  width:146px;
  height:123px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:124px;
}
#u71 {
  position:absolute;
  left:2px;
  top:30px;
  width:142px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:399px;
  top:212px;
  width:146px;
  height:123px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:149px;
  height:126px;
}
#u73 {
  position:absolute;
  left:2px;
  top:30px;
  width:142px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:418px;
  top:287px;
  width:51px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:14px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:4px;
  width:51px;
  height:2px;
}
#u75 {
  position:absolute;
  left:611px;
  top:212px;
  width:146px;
  height:123px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:124px;
}
#u76 {
  position:absolute;
  left:2px;
  top:30px;
  width:142px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:618px;
  top:287px;
  width:62px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  height:2px;
}
