body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../统计收起_files/u6_normal.png');
}

.u0_container {
    position:absolute;
    left:200px;
    top:400px;
    width:1080px;
    height:42px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:48px;
}

.u1 {
    position:absolute;
    left:2px;
    top:13px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:296px;
    top:414px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:376px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:496px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:436px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:556px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../统计收起_files/u13_normal.png');
}

.u7_container {
    position:absolute;
    left:227px;
    top:410px;
    width:63px;
    height:23px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:29px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:617px;
    top:414px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:696px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:816px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:756px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:877px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:937px;
    top:414px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:1016px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:1137px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1076px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1197px;
    top:414px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../页头-概览_files/u240_normal.png');
}

.u20_container {
    position:absolute;
    left:150px;
    top:254px;
    width:1200px;
    height:35px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../页头-概览_files/u242_normal.png');
}

.u22_container {
    position:absolute;
    left:259px;
    top:254px;
    width:79px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u24_container {
    position:absolute;
    left:338px;
    top:254px;
    width:79px;
    height:35px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u26_container {
    position:absolute;
    left:417px;
    top:254px;
    width:79px;
    height:35px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u28_container {
    position:absolute;
    left:496px;
    top:254px;
    width:79px;
    height:35px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u30_container {
    position:absolute;
    left:575px;
    top:254px;
    width:79px;
    height:35px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u32_container {
    position:absolute;
    left:654px;
    top:254px;
    width:79px;
    height:35px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../页头-概览_files/u254_normal.png');
}

.u34_container {
    position:absolute;
    left:150px;
    top:254px;
    width:109px;
    height:35px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:41px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../页头-概览_files/u256_normal.png');
}

.u36_container {
    position:absolute;
    left:1257px;
    top:254px;
    width:93px;
    height:35px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:41px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:200px;
    top:511px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../搜索概览-图文-看图_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:1253px;
    top:509px;
    width:27px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../搜索概览-图文-看图_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:1226px;
    top:509px;
    width:27px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../搜索概览-图文-看图_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:1199px;
    top:509px;
    width:27px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../表达式_二次检索_files/u229_normal.png');
}

.u46_container {
    position:absolute;
    left:152px;
    top:289px;
    width:1200px;
    height:86px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:92px;
}

.u47 {
    position:absolute;
    left:2px;
    top:35px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../表达式_二次检索_files/u231_normal.png');
}

.u48_container {
    position:absolute;
    left:1065px;
    top:309px;
    width:99px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u49 {
    position:absolute;
    left:2px;
    top:10px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:422px;
    top:309px;
    width:633px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_normal {
    background-image: url('../表达式_二次检索_files/u234_normal.png');
}

.u51_container {
    position:absolute;
    left:321px;
    top:309px;
    width:109px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../表达式_二次检索_files/u236_normal.png');
}

.u53_container {
    position:absolute;
    left:221px;
    top:309px;
    width:100px;
    height:40px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1174px;
    top:321px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../图文_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:1233px;
    top:468px;
    width:47px;
    height:24px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../图文_files/u51_normal.png');
}

.u59_container {
    position:absolute;
    left:1186px;
    top:468px;
    width:47px;
    height:24px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../图文_files/u55_normal.png');
}

.u61_container {
    position:absolute;
    left:1139px;
    top:468px;
    width:47px;
    height:24px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../图文_files/u51_normal.png');
}

.u63_container {
    position:absolute;
    left:1092px;
    top:468px;
    width:47px;
    height:24px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../排序合并同族_files/u35_normal.png');
}

.u65_container {
    position:absolute;
    left:413px;
    top:468px;
    width:90px;
    height:24px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:30px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../排序合并同族_files/u37_normal.png');
}

.u67_container {
    position:absolute;
    left:296px;
    top:468px;
    width:86px;
    height:24px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:30px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../排序合并同族_files/u37_normal.png');
}

.u69_container {
    position:absolute;
    left:200px;
    top:468px;
    width:86px;
    height:24px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:30px;
}

.u70 {
    position:absolute;
    left:2px;
    top:4px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../排序合并同族_files/u41_normal.png');
}

.u71_container {
    position:absolute;
    left:382px;
    top:468px;
    width:21px;
    height:24px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:30px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../图文_files/u68_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1080px;
    height:3px;
}

.u74 {
    position:absolute;
    left:200px;
    top:487px;
    width:1080px;
    height:10px;
    
}

.u76 {
    position:absolute;
    left:228px;
    top:549px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u77_container {
    position:absolute;
    left:618px;
    top:549px;
    width:75px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:228px;
    top:589px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u80_container {
    position:absolute;
    left:1036px;
    top:577px;
    width:244px;
    height:149px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u81 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:228px;
    top:664px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:703px;
    top:551px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:228px;
    top:712px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:288px;
    top:712px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:228px;
    top:732px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u90_container {
    position:absolute;
    left:618px;
    top:732px;
    width:75px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:228px;
    top:772px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u93_container {
    position:absolute;
    left:1036px;
    top:760px;
    width:244px;
    height:149px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u94 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:228px;
    top:847px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:703px;
    top:734px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:228px;
    top:895px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:288px;
    top:895px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:228px;
    top:916px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u103_container {
    position:absolute;
    left:618px;
    top:916px;
    width:75px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:228px;
    top:956px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u106_container {
    position:absolute;
    left:1036px;
    top:944px;
    width:244px;
    height:149px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u107 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:228px;
    top:1031px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:703px;
    top:918px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:228px;
    top:1079px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:288px;
    top:1079px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:228px;
    top:1099px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u116_container {
    position:absolute;
    left:618px;
    top:1099px;
    width:75px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:228px;
    top:1139px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u119_container {
    position:absolute;
    left:1036px;
    top:1127px;
    width:244px;
    height:149px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u120 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:228px;
    top:1214px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:703px;
    top:1101px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:228px;
    top:1262px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:288px;
    top:1262px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:228px;
    top:1282px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u129_container {
    position:absolute;
    left:618px;
    top:1282px;
    width:75px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:228px;
    top:1322px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u132_container {
    position:absolute;
    left:1036px;
    top:1310px;
    width:244px;
    height:149px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u133 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:228px;
    top:1397px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:703px;
    top:1284px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:228px;
    top:1445px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:288px;
    top:1445px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:228px;
    top:1466px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u142_container {
    position:absolute;
    left:618px;
    top:1466px;
    width:75px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:228px;
    top:1506px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u145_container {
    position:absolute;
    left:1036px;
    top:1494px;
    width:244px;
    height:149px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u146 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:228px;
    top:1581px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:703px;
    top:1468px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:228px;
    top:1629px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:288px;
    top:1629px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:228px;
    top:1649px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u155_container {
    position:absolute;
    left:618px;
    top:1649px;
    width:75px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:228px;
    top:1689px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u158_container {
    position:absolute;
    left:1036px;
    top:1677px;
    width:244px;
    height:149px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u159 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:228px;
    top:1764px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:703px;
    top:1651px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:228px;
    top:1812px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:288px;
    top:1812px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:228px;
    top:1832px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u168_container {
    position:absolute;
    left:618px;
    top:1832px;
    width:75px;
    height:20px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:228px;
    top:1872px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u171_container {
    position:absolute;
    left:1036px;
    top:1860px;
    width:244px;
    height:149px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u172 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:228px;
    top:1947px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:703px;
    top:1834px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:228px;
    top:1995px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:288px;
    top:1995px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:228px;
    top:2016px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u181_container {
    position:absolute;
    left:618px;
    top:2016px;
    width:75px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:228px;
    top:2056px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u184_container {
    position:absolute;
    left:1036px;
    top:2044px;
    width:244px;
    height:149px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u185 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:228px;
    top:2131px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:703px;
    top:2018px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:228px;
    top:2179px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:288px;
    top:2179px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:228px;
    top:2199px;
    width:416px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../图文_1_files/u71_normal.png');
}

.u194_container {
    position:absolute;
    left:618px;
    top:2199px;
    width:75px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u195 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:228px;
    top:2239px;
    width:726px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../图文_1_files/u74_normal.png');
}

.u197_container {
    position:absolute;
    left:1036px;
    top:2227px;
    width:244px;
    height:149px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:155px;
}

.u198 {
    position:absolute;
    left:2px;
    top:66px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:228px;
    top:2314px;
    width:765px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:703px;
    top:2201px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:228px;
    top:2362px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:288px;
    top:2362px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u206_container {
    position:absolute;
    left:365px;
    top:2394px;
    width:27px;
    height:30px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u207 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u208_container {
    position:absolute;
    left:335px;
    top:2394px;
    width:27px;
    height:30px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u209 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../翻页空间-长_files/u163_normal.png');
}

.u210_container {
    position:absolute;
    left:305px;
    top:2394px;
    width:27px;
    height:30px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u211 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../翻页空间-长_files/u165_normal.png');
}

.u212_container {
    position:absolute;
    left:227px;
    top:2394px;
    width:68px;
    height:30px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u213 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../翻页空间-长_files/u167_normal.png');
}

.u214_container {
    position:absolute;
    left:587px;
    top:2394px;
    width:68px;
    height:30px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u215 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u216_container {
    position:absolute;
    left:457px;
    top:2394px;
    width:27px;
    height:30px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u217 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u218_container {
    position:absolute;
    left:427px;
    top:2394px;
    width:27px;
    height:30px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u219 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u220_container {
    position:absolute;
    left:397px;
    top:2394px;
    width:27px;
    height:30px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u221 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u222_container {
    position:absolute;
    left:489px;
    top:2394px;
    width:27px;
    height:30px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u223 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u224_container {
    position:absolute;
    left:549px;
    top:2394px;
    width:27px;
    height:30px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u225 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u226_container {
    position:absolute;
    left:519px;
    top:2394px;
    width:27px;
    height:30px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u227 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:665px;
    top:2401px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:763px;
    top:2394px;
    width:32px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u230_normal {
    background-image: url('../翻页空间-长_files/u167_normal.png');
}

.u230_container {
    position:absolute;
    left:805px;
    top:2394px;
    width:68px;
    height:30px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u231 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../搜索概览-图文-看图_files/u233_normal.png');
}

.u233_container {
    position:absolute;
    left:150px;
    top:459px;
    width:1202px;
    height:630px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1208px;
    height:636px;
}

.u234 {
    position:absolute;
    left:2px;
    top:307px;
    width:1198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235_normal {
    background-image: url('../搜索概览-图文-看图_files/u235_normal.png');
}

.u235_container {
    position:absolute;
    left:310px;
    top:560px;
    width:861px;
    height:469px;
}

#u235_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:867px;
    height:475px;
}

.u236 {
    position:absolute;
    left:2px;
    top:224px;
    width:857px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:384px;
    top:517px;
    width:712px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../搜索概览-图文-看图_files/u238_normal.png');
}

.u238_container {
    position:absolute;
    left:1260px;
    top:734px;
    width:42px;
    height:86px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:92px;
}

.u239 {
    position:absolute;
    left:2px;
    top:35px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_normal {
    background-image: url('../搜索概览-图文-看图_files/u240_normal.png');
}

.u240_container {
    position:absolute;
    left:200px;
    top:734px;
    width:42px;
    height:86px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:92px;
}

.u241 {
    position:absolute;
    left:2px;
    top:35px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:1270px;
    top:483px;
    width:67px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_end {
    background-image: url('../搜索概览-图文-看图_files/u243_end.png');
}

.u243_end {
    position:absolute;
    left:123px;
    top:-5px;
    width:14px;
    height:20px;
}

.u243_line {
    background-image: url('../搜索概览-图文-看图_files/u243_line.png');
}

.u243_line {
    position:absolute;
    left:0px;
    top:4px;
    width:132px;
    height:3px;
}

.u243 {
    position:absolute;
    left:1290px;
    top:772px;
    width:132px;
    height:10px;
    
}

.u244 {
    position:absolute;
    left:1438px;
    top:772px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

