body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:50px;
  width:1100px;
  height:1655px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:1656px;
}
#u2 {
  position:absolute;
  left:2px;
  top:820px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:130px;
  top:13px;
  width:103px;
  height:24px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D7D7D7;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:434px;
  top:9px;
  width:90px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:355px;
  top:17px;
  width:69px;
  height:18px;
  color:#F2F2F2;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:667px;
  top:17px;
  width:83px;
  height:18px;
  color:#F2F2F2;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:445px;
  top:17px;
  width:92px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:558px;
  top:17px;
  width:87px;
  height:18px;
  color:#F2F2F2;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:264px;
  top:17px;
  width:69px;
  height:18px;
  color:#F2F2F2;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:1435px;
  width:1100px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:81px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:404px;
  top:1480px;
  width:393px;
  height:15px;
  color:#D7D7D7;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:310px;
  top:1454px;
  width:579px;
  height:18px;
  color:#D7D7D7;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:117px;
  top:74px;
  width:118px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:945px;
  top:9px;
  width:32px;
  height:32px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:987px;
  top:17px;
  width:60px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:105px;
  top:118px;
  width:710px;
  height:631px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:632px;
}
#u33 {
  position:absolute;
  left:2px;
  top:308px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:117px;
  top:135px;
  width:78px;
  height:22px;
  font-family:'', '', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:825px;
  top:118px;
  width:260px;
  height:209px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:210px;
}
#u37 {
  position:absolute;
  left:2px;
  top:96px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:844px;
  top:135px;
  width:133px;
  height:22px;
  font-family:'', '', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:23px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:844px;
  top:173px;
  width:133px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:844px;
  top:202px;
  width:161px;
  height:18px;
  color:#0033FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:844px;
  top:232px;
  width:161px;
  height:18px;
  color:#0033FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1034px;
  top:23px;
  width:8px;
  height:5px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:844px;
  top:261px;
  width:150px;
  height:18px;
  color:#0033FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:844px;
  top:291px;
  width:161px;
  height:18px;
  color:#0033FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:117px;
  top:684px;
  width:31px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u54 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:172px;
  top:684px;
  width:31px;
  height:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:227px;
  top:684px;
  width:31px;
  height:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:283px;
  top:684px;
  width:31px;
  height:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:338px;
  top:684px;
  width:31px;
  height:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:448px;
  top:684px;
  width:56px;
  height:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:393px;
  top:690px;
  width:45px;
  height:15px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:934px;
  top:173px;
  width:133px;
  height:18px;
  color:#BCBCBC;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:906px;
  top:202px;
  width:161px;
  height:18px;
  color:#BCBCBC;
  text-align:right;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:906px;
  top:232px;
  width:161px;
  height:18px;
  color:#BCBCBC;
  text-align:right;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:917px;
  top:261px;
  width:150px;
  height:18px;
  color:#BCBCBC;
  text-align:right;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:905px;
  top:291px;
  width:161px;
  height:18px;
  color:#BCBCBC;
  text-align:right;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:117px;
  top:173px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u78 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:178px;
  top:194px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:186px;
  top:223px;
  width:200px;
  height:18px;
  color:#949494;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:117px;
  top:254px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:468px;
  top:173px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u86 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:529px;
  top:194px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:537px;
  top:223px;
  width:200px;
  height:18px;
  color:#949494;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:468px;
  top:254px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:117px;
  top:298px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u94 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:178px;
  top:319px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:186px;
  top:348px;
  width:200px;
  height:18px;
  color:#949494;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:117px;
  top:379px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:468px;
  top:298px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#6B6B6B;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u102 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:529px;
  top:319px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366FF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:537px;
  top:348px;
  width:200px;
  height:18px;
  color:#3366FF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:468px;
  top:379px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:117px;
  top:424px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u110 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:178px;
  top:445px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:186px;
  top:474px;
  width:200px;
  height:18px;
  color:#949494;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:117px;
  top:505px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:468px;
  top:424px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u118 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:529px;
  top:445px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:537px;
  top:474px;
  width:200px;
  height:18px;
  color:#949494;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:468px;
  top:505px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:117px;
  top:549px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u126 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:178px;
  top:570px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:186px;
  top:599px;
  width:200px;
  height:18px;
  color:#949494;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:117px;
  top:630px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:468px;
  top:549px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u134 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:529px;
  top:570px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:537px;
  top:599px;
  width:200px;
  height:18px;
  color:#949494;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:468px;
  top:630px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:105px;
  top:789px;
  width:710px;
  height:618px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:619px;
}
#u142 {
  position:absolute;
  left:2px;
  top:301px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:117px;
  top:844px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u144 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:178px;
  top:865px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:186px;
  top:894px;
  width:200px;
  height:18px;
  color:#949494;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:117px;
  top:925px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u150 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:468px;
  top:844px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u152 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:529px;
  top:865px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:537px;
  top:894px;
  width:200px;
  height:18px;
  color:#949494;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:468px;
  top:925px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:117px;
  top:969px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u160 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:178px;
  top:990px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:186px;
  top:1019px;
  width:200px;
  height:18px;
  color:#949494;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:117px;
  top:1050px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:468px;
  top:969px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#6B6B6B;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u168 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:529px;
  top:990px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366FF;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:537px;
  top:1019px;
  width:200px;
  height:18px;
  color:#3366FF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:468px;
  top:1050px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u174 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:117px;
  top:1095px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u176 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:178px;
  top:1116px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:186px;
  top:1145px;
  width:200px;
  height:18px;
  color:#949494;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:117px;
  top:1176px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u182 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:468px;
  top:1095px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u184 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:529px;
  top:1116px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:537px;
  top:1145px;
  width:200px;
  height:18px;
  color:#949494;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:468px;
  top:1176px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u190 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:118px;
  top:166px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u192 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:468px;
  top:166px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u194 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:118px;
  top:288px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u196 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:468px;
  top:288px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u198 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:118px;
  top:417px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u200 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:468px;
  top:417px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u202 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:118px;
  top:539px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u204 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:468px;
  top:539px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u206 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:117px;
  top:804px;
  width:118px;
  height:22px;
  font-family:'', '', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:468px;
  top:1050px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:117px;
  top:1223px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u212 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:178px;
  top:1244px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:186px;
  top:1273px;
  width:200px;
  height:18px;
  color:#949494;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:117px;
  top:1304px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u218 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:468px;
  top:1223px;
  width:322px;
  height:81px;
  font-size:16px;
  color:#3366CC;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:82px;
}
#u220 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:529px;
  top:1244px;
  width:200px;
  height:22px;
  font-size:16px;
  color:#3366CC;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:537px;
  top:1273px;
  width:200px;
  height:18px;
  color:#949494;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:468px;
  top:1304px;
  width:322px;
  height:28px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:29px;
}
#u226 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:117px;
  top:1360px;
  width:31px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u229 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:172px;
  top:1360px;
  width:31px;
  height:28px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u231 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:227px;
  top:1360px;
  width:31px;
  height:28px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u233 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:283px;
  top:1360px;
  width:31px;
  height:28px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u235 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:338px;
  top:1360px;
  width:31px;
  height:28px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u237 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:448px;
  top:1360px;
  width:56px;
  height:28px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u239 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:393px;
  top:1366px;
  width:45px;
  height:15px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:118px;
  top:834px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u243 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:468px;
  top:834px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u245 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:118px;
  top:959px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u247 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:468px;
  top:959px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u249 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:118px;
  top:1085px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u251 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:468px;
  top:1085px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u253 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:118px;
  top:1213px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u255 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:468px;
  top:1213px;
  width:50px;
  height:50px;
  color:#A1A1A1;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u257 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
