body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1489px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:369px;
  top:235px;
  width:221px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:19px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:377px;
  top:294px;
  width:167px;
  height:63px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:163px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:369px;
  top:261px;
  width:990px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:990px;
  height:3px;
}
#u5 {
  position:absolute;
  left:638px;
  top:304px;
  width:304px;
  height:43px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:44px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:931px;
  top:304px;
  width:91px;
  height:43px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
}
#u8 {
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1188px;
  top:301px;
  width:171px;
  height:48px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1175px;
  top:301px;
  width:48px;
  height:48px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1240px;
  top:317px;
  width:54px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1324px;
  top:317px;
  width:23px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:377px;
  top:375px;
  width:982px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:973px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:982px;
  height:1px;
}
#u18 {
  position:absolute;
  left:225px;
  top:120px;
  width:706px;
  height:50px;
  font-size:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:51px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1117px;
  top:301px;
  width:48px;
  height:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:377px;
  top:395px;
  width:247px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:384px;
  top:647px;
  width:975px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:966px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:975px;
  height:1px;
}
#u25 {
  position:absolute;
  left:1246px;
  top:590px;
  width:102px;
  height:14px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:377px;
  top:586px;
  width:48px;
  height:48px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:435px;
  top:589px;
  width:58px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:435px;
  top:618px;
  width:249px;
  height:20px;
  font-size:14px;
  color:#6B6B6B;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1163px;
  top:618px;
  width:184px;
  height:20px;
  font-size:14px;
  color:#6B6B6B;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:377px;
  top:437px;
  width:87px;
  height:66px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:67px;
}
#u36 {
  position:absolute;
  left:2px;
  top:24px;
  width:83px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:474px;
  top:437px;
  width:186px;
  height:22px;
  font-size:16px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:474px;
  top:466px;
  width:293px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:474px;
  top:492px;
  width:615px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1260px;
  top:437px;
  width:87px;
  height:66px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:67px;
}
#u44 {
  position:absolute;
  left:2px;
  top:24px;
  width:83px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:377px;
  top:548px;
  width:150px;
  height:20px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:384px;
  top:728px;
  width:975px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:966px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:975px;
  height:1px;
}
#u48 {
  position:absolute;
  left:492px;
  top:671px;
  width:102px;
  height:14px;
  font-size:12px;
  color:#6B6B6B;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:377px;
  top:667px;
  width:48px;
  height:48px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:435px;
  top:670px;
  width:58px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:435px;
  top:699px;
  width:249px;
  height:20px;
  font-size:14px;
  color:#6B6B6B;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1164px;
  top:699px;
  width:184px;
  height:20px;
  font-size:14px;
  color:#6B6B6B;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:21px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:384px;
  top:809px;
  width:975px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:966px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:975px;
  height:1px;
}
#u59 {
  position:absolute;
  left:492px;
  top:752px;
  width:102px;
  height:14px;
  font-size:12px;
  color:#6B6B6B;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:377px;
  top:748px;
  width:48px;
  height:48px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:435px;
  top:751px;
  width:58px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:435px;
  top:780px;
  width:249px;
  height:20px;
  font-size:14px;
  color:#6B6B6B;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1163px;
  top:780px;
  width:184px;
  height:20px;
  font-size:14px;
  color:#6B6B6B;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:21px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:377px;
  top:528px;
  width:982px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:973px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:982px;
  height:1px;
}
#u70 {
  position:absolute;
  left:1347px;
  top:621px;
  width:37px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:14px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u71 {
  position:absolute;
  left:1257px;
  top:702px;
  width:127px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:118px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:127px;
  height:1px;
}
#u72 {
  position:absolute;
  left:1394px;
  top:605px;
  width:95px;
  height:42px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1394px;
  top:686px;
  width:95px;
  height:42px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
