/*@charset "UTF-8";*/

/* CSS Document */

/*@import "reset.css"*/

/* === reset === */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0
}
img {
    border: 0
}
address,
cite,
em,
strong {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
/* === mine == */

h1 {
    font-family: TeluguMN;
    font-size: 48px;
    font-weight: 600;
}
h2 {
    font: 600 24px TeluguMN;
    margin: 0px 10px 35px 0px;
}
h3 {
    font: 600 18px TeluguMN;
    margin: 0px 0px 20px 0px;
}
p {
    color: #323232；
}
p,
ui,
li {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}
ul.disc {
    list-style-type: disc;
    margin-left: 25px;
}
html body {
    background-color: #f5f4f3;
}
#mainbody_1password {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
    margin: auto;
    z-index: 3;
/*        border: 5px solid #000;*/
    text-align: center;
}
.topback {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #3f83d5;
}
.title_text h1 {
    margin-bottom: 15px;
}
.title_text p {
    font: 400 20px 'Josefin Sans';
    line-height: 24px;
}
.title {
    width: 1000px;
    height: 400px;
    margin: auto;
    /*    border:1px solid #000;*/
}
.title_text {
    width: 430px;
    float: left;
    text-align: left;
    color: #fff;
    margin: 140px 0px 0px 120px;
    /*    border: 1px solid #222;*/
}
.title_img {
    float: left;
    /*    border: 1px solid #000;*/
    margin: 130px 0px 0px 100px;
}
.mainframe {
    width: 1000px;
/*    height: 1860px;*/
    margin: auto;
/*    border: 1px solid #000;*/
}
.centerProblem {
    width: 830px;
    height: 125px;
/*    border: 1px solid #000;*/
    margin: 125px auto 0px auto;
}
.centerInterview {
    width: 830px;
    /*    height: 520px;*/
/*    border: 1px solid #0d5;*/
    margin: 100px auto 0px auto;
    /*    overflow:hidden; */
}
#interviewList {
    width: 100%;
/*    border: 1px solid;*/
    overflow: hidden;
}
#interviewList p,
ui,
li {
    font-size: 12px;
}
.textLeft {
    width: 276px;
    /*    height: 160px;*/
    text-align: left;
    margin: 50px 30px 0px 110px;
    float: left;
/*    border: 1px solid;*/
    color: #969696;
}
.textRight {
    width: 276px;
    /*    height: 160px;*/
    text-align: left;
    margin: 50px 80px 0px 30px;
    float: left;
/*    border: 1px solid;*/
    color: #969696;
}
.persona {
    width: 800px;
/*    border: 1px solid;*/
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
}
.leftPersona {
    width: 380px;
/*    border: 1px solid;*/
    text-align: left;
    margin: 50px 9px;
    overflow: hidden;
    float: left;
}
.imgLeft {
    float: left;
/*    border: 1px solid;*/
}
.introRight {
    width: 200px;
    float: left;
/*    border: 1px solid;*/
    margin-left: 15px;
    margin-right: 10px;
}
.introRight ul {
    width: 150px;
    line-height: 18px;
/*    border: 1px solid;*/
    margin: -20px 0px 20px 10px;
    color: #969696;
}
.introRight li {
    line-height: 18px;
}
.personaTextCenter {
/*    border: 1px solid;*/
    width: 350px;
    margin: 20px;
    float: left;
    /*    color: #646464;*/
}
.goals {
/*    border: 1px solid;*/
    margin: 0px 10px 20px 10px;
    float: left;
    /*    color: #646464;*/
}
.brain {
    width: 1000px;
/*    margin-top: 0px;*/
}
.imgCenter {
    margin: auto;
    margin-top: 20px;
/*    border: 1px solid;*/
}
.iterationBox{
    width: 1000px;
    margin: auto;
    margin-top: 125px;
}
.prototype{
    margin: auto;
    margin-top: 50px;
/*    border: 1px solid;*/
    width: 800px;
    
}

.finalBox{ 
    margin: auto;
    margin-top: 125px;
    width: 800px;
/*    border: 1px solid;*/
    overflow: hidden;

}

.finalNo, .finalText, .finalText3{
    float: left;
    text-align: left;
/*    border: 1px solid;*/
    margin: 50px 0px 30px 0px;
}

.finalText{
    width: 240px;
    margin-left: 30px;
}
.finalText3{
    width: 350px;
    margin-left: 30px;
}

.footerback {
    width: 100%;
    height: 180px;
    background-color: #3b81d8;
    margin: auto;
    margin-top: 200px;
    position: absolute;
}
.footer {
    margin: 80px 10px 10px 10px;
    height: 80px;
    /*    border: 1px solid #000;*/
    color: #f4f4f4;
}
.prototypeTest {
    margin-top: 80px;
}
