/*@charset "UTF-8";*/


/* CSS Document */


/*Import Fonts*/


/*@import "reset.css"*/


/* === reset === */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

address,
cite,
em,
strong {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

h1 {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font: 400 30px Sans-serif;
}


/* === mine == */

p {
    /*    font-family: 'Century Gothic', sans-serif;*/
    font-family: 'Raleway';
    line-height: 24px;
    font-size: 1em;
}

html body {
    background-color: #fff;
}

a {
 
}

a:link {
    color: rgb(50, 50, 50);
}

a:visited {
    color: rgb(50, 50, 50);
}

a:hover {
    color: #ff6060;
}

a:active {
/*    color: #2A5DB0;*/
}

.mianbody {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    /*    background-color: #f5f4f3;*/
    display: block;
    position: relative;
}

#headTop {
    width: auto%;
    height: 5px;
    background-color: black;
}

.head {
    /*    width: 1000px;*/
    /*    height: 347px;*/
    margin: 50px auto 0px auto;
    text-align: center;
    /*    overflow:hidden;*/
    /*    border: 1px solid;*/
}

#icon_Liang {
    width: auto;
    height: 52px;
    /*    border: 1px solid;*/
    margin: 20px;
}

.topLine {
    width: 425px;
    height: 2px;
    margin: 30px auto;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}

.container {
    margin: auto;
    /*    border: 1px solid;*/
    padding: 20px;
}

#introText {
    margin: auto;
    width: 430px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    color: rgb(50, 50, 50);
    /*    border: 1px solid;*/
}

.box {
    width: 599px;
    margin: auto;
    /*    border: 1px solid;*/
    overflow: hidden;
}

.introPic {
    width: 121px;
    margin: 50px 39px;
    float: left;
}

.introPic img {
    width: 42px;
    margin-bottom: 5px;
}

.introPic p {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 14px;
}

header {
    margin-top: 30px;
    margin-bottom: 15px;
}


/*Work Project*/

#workLine {
    width: 60px;
    height: 1px;
    margin: 10px auto;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}

.work.box {
    width: 764px;
    padding-top: 20px;
    margin: auto;
    /*        border: 1px solid;*/
    overflow: hidden;
}

.workImg {
    width: 320px;
/*    height: 180px;*/
    /*    height: inherit;*/
    border: 1px solid;
    margin: 25px 30px;
    float: left;
    padding: 45px 0px 50px 0px;
    position: relative;
    z-index: 3;
    background-color: white;

}

.workDescription {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    color: white;
    line-height: 20x;
    width: 200px;
    height: 79px;
    padding: 45px 60px;
    /*    background-color: aqua;*/
    position: absolute;
    top: 0px;
    z-index: 0;
    opacity: 0;
}

.workImg:hover {
    background-color: black;
    /*    cursor: pointer;*/
    /*
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
*/
}

.workImgRight:hover {
    background-color: black;
    /*    cursor: pointer;*/
    /*
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
*/
}

.workName {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
    /*    padding: 2px;*/
}

.workCategory {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    /*    padding: 2px;*/
    /*    color: aquamarine;*/
}

.workDescription:hover {
    opacity: 100;
    /*    cursor: pointer;*/
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}


/*Contact Me*/

#contactLine {
    width: 138px;
    height: 1px;
    margin: 10px auto;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}

.box.contact {
    padding-top: 45px;
    padding-left: 120px;
}

.boxContact {
    width: 203px;
    /*    height: 122px;*/
    /*    background-color: aqua;*/
    float: left;
}

.contactInfo {
    width: 1650px;
    text-align: left;
    /*    background-color: saddlebrown;*/
}

.contactInfo img {
    width: 16px;
    float: left;
    margin-top: 4px;
    /*    border: 1px solid;*/
}

.contactInfo p {
    font-size: 14px;
}

.contactInfo img,
.contactInfo p {
    margin-right: 20px;
    margin-bottom: 45px;
}


/* Footer */

.footer {
    width: 100%;
    margin: 100px auto 0px auto;
    padding: 80px 0px 120px 0px;
    text-align: center;
    background-color: rgb(50, 50, 50);
    /*        border: 1px solid;*/
}

.social {
    width: 500px;
    margin: auto;
    /*    background-color: blanchedalmond;*/
}

.social a {
    text-decoration: none;
}

.socialmediaicon {
    width: 50px;
    margin: 10px 30px;
    /*    background-color: #1976d2;*/
}

#copyright {
    /*    width: 1000px;*/
    /*    font-family: "Courier New", Courier, mono;*/
    font-family: 'Quicksand';
    font-size: 12px;
    /*    margin: 50px 0px 30px 0px;*/
    color: #969696;
    line-height: 30px;
    /*    margin: auto;*/
    /*    border: 1px solid;*/
}

#copyright a {
    color: #969696;
}

#copyright a:hover {
    color: #ff6060;
}
