/*@charset "UTF-8";*/
/* CSS Document */
/*Import Fonts*/

/*@import "reset.css"*/
/* === reset === */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

address,
cite,
em,
strong {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

h2 {
    font: 400 30px Sans-serif;
}





/* === mine == */

p {
/*    font-family: 'Century Gothic', sans-serif;*/
    font-family: 'Quicksand';
    line-height: 24px;
}

html body {
    background-color: #fff;
}

a {
    /*    text-decoration: none;*/
}

a:link {
    color: rgb(100, 100, 100);
}

a:visited {
    color: rgb(100, 100, 100);
}

a:hover {
    color: #d50000;
}

a:active {
    color: #d50000;
}

.mianbody {
    width: 100%;
    height: 100%;
    margin: auto;
/*    background-color: #f5f4f3;*/
    display: block;
    position: relative；
}

.header {
    width: 1000px;
/*    height: 347px;*/
    margin: 80px auto 50px auto;
    overflow:hidden;
/*    border: 1px solid;*/
}

.headerLeft {
    width: 650px;
/*    height: 347px;*/
    float: left;
    padding-left: 50px;
/*    border: 1px solid;*/
}

#imgMe {
    float: left;
    width: 94px;
/*    margin: 140px 0px 105px 50px;*/
    margin: 15px;
}

#intro {
    float: left;
    width: 450px;
    font-size: 20px;
    color: rgb(50, 50, 50);
    margin-left: 15px;

}
#intro h2 {
/*        font: 400 48px LucidaSans;*/
    color: rgb(150, 150, 150);
}

#intro p {
    line-height: 32px;
}



.headerRight {
    width: 141px;
    float: left;
    margin-top: 21px;
}

.headerRight p {
    line-height: 30px;
    color: rgb(100, 100, 100);
    font-family: 'Quicksand';
    font-size: 14px;  
    font-weight: 200;

}

.container {
    width: 1000px;
    /*    background-color: #edd;*/
    margin: auto;
    overflow: auto;
}

.box {
    position: relative;
    width: 450px;
    float: left;
    text-align: center;
    margin: 0px 25px 20px 25px;
    /*    background-color: #72f;*/
}

.coverImg {
    position: relative;
    z-index: 3;
}

.hoverImg {
    position: absolute;
    top: 0px;
    z-index: 0;
}

.coverImg img {
    width: 450px;
}

.hoverImg img {
    width: 450px;
}

.coverImg:hover {
    opacity: 0;
    /*    cursor: pointer;*/
    
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.box p {
/*    width: 400px;*/
    font: 400 14px 'Quicksand';
    line-height: 20px;
    color: rgb(50, 50, 50);
    margin: 20px 40px;
/*    background-color: black;*/
}
.section{
    width: 1000px;
    height: 100%;
    margin: 80px auto;
    overflow: hidden;
    }
.sectionLine {
    float: left;
    width: 425px;
    height: 1px;
    margin: 40px auto;
    background-color: #e2e2e2;
    overflow: hidden;
}
.sectionTitle{
    width: 150px;
    float: left;
    text-align: center;
    margin: auto;
    font: 200 34px 'Quicksand';
    color: #c8c8c8;
    }

.footer {
    width: 1000px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
/*        border: 1px solid;*/
}

.social {
    width:500px;
    margin: auto;
/*    background-color: blanchedalmond;*/
}

.socialmediaicon {
    width: 50px;
    margin: 10px 30px;
/*    background-color: #1976d2;*/
}

#copyright {
    /*    width: 1000px;*/
    
/*    font-family: "Courier New", Courier, mono;*/
    font-family: 'Quicksand';
    font-size: 12px;
    margin: 80px 0px 30px 0px;
    color: #969696;
    /*    margin: auto;*/
    /*    border: 1px solid;*/
}