/*@charset "UTF-8";*/
/* CSS Document */

/*@import "reset.css"*/

/* === reset === */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0
}
img {
    border: 0
}
address,
cite,
em,
strong {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;

}


/* === mine == */
h2 {
    font: 600 24px TeluguMN;
    margin: 0px 10px 35px 0px;
}
h3{
    font: 600 18px TeluguMN;
    margin: 0px 0px 20px 0px;
}

html body {
    background-color: #f5f4f3;
}
#mainbody_thermostat {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
    margin: auto;
    z-index: 3;
    text-align: center;
    background-color: #f1f1f1;
}

#mainbody_thermostat h1{
    font-family: TeluguMN;
    font-size: 48px;
    font-weight: 600;
}

p {
    font-family: 'Josefin Slab', sans-serif;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

.topback {
    position: relative;
    width:100%;
    height: 400px;
    background-color: #66bb6a;
}

.title_text h1 {
    margin-bottom:15px;
    
}

.title_text p {
    font: 400 20px 'Josefin Slab';
    line-height: 24px;
}

.title {
    width: 1000px;
    height: 400px;
    margin: auto;
/*    border:1px solid #000;*/
}

.title_text {
    width: 430px;
    float: left;
    text-align: left;
    color: #eeeeee;
    margin: 120px 0px 0px 120px;
/*    border: 1px solid #222;*/
}

.title_img {
    float:left;
/*    border: 1px solid #000;*/
    margin: 70px 0px 0px 80px;
}


.whatwhy {
    width: 1000px;
    height: 360px;
/*    border: 1px solid #567;*/
    margin: auto;
    
}

.whatleft {
    width: 343px;
/*    border: 1px solid #000;*/
    float: left;
    margin: 120px 0px 0px 95px;
    text-align: left;
    color: rgb(50, 50, 50);
    font-size: 14px;
}
.whatright {
    width: 390px;
/*    border: 1px solid #000;*/
    float: right;
    margin: 120px 85px 0px 0px;
    text-align: left;
    color: rgb(50, 50, 50);
    font-size: 14px;
}
.howframe {
    width: 1000px;
    height: 1860px;
    margin: auto;
/*    border: 1px solid #000;*/
}

.how {
    width: 830px;
    height: 230px;
/*    border: 1px solid #000;*/
    margin: auto;
}
#nest{
    font-style: italic;
    color: #adadad;
    font-size: 14px;
    font-family: LucidaSans;
    margin: 40px;
/*    border: 1px solid #000;*/
}


.box {
    width: 1000px;
    height:305px;
    margin: auto;
/*    border: 1px solid #000;*/
}

.text_left{
    width: 318px;
    float: left;
    color: #323232;
    margin: 65px 0px 0px 140px;
/*    border: 1px solid #000;*/
}

.text_left p {
/*    border: 1px solid #000;*/
/*    margin: 10px;*/
    padding: 10px;
}

.imgright {
    float:left;
/*    border: 1px solid #000;*/
    margin: 40px 0px 0px 100px;
}

.text_right{
    width: 381px;
    float: left;
    color: #323232;
    margin: 65px 0px 0px 85px;
/*    border: 1px solid #000;*/
}

.text_right p {
/*    border: 1px solid #000;*/
/*    margin: 10px;*/
    padding: 10px;
}

.imgleft {
    float:left;
/*    border: 1px solid #000;*/
    margin: 40px 0px 0px 185px;
}

#exampletext {
    margin: 50px 0px 15px 0px;
}

.boxexample_1 {
    width: 1000px;
    height:450px;
    margin: auto;
/*    border: 1px solid #000;*/
}

.text_left_ex {
    width: 280px;
    float: left;
    color: #323232;
    margin: 25px 0px 0px 175px;
/*    border: 1px solid #000;*/
/*    font: 400 32px / 60px LucidaSans;*/
}

.text_right_ex {
    width: 315px;
    float: left;
    color: #323232;
    margin: 25px 0px 0px 75px;
/*    border: 1px solid #000;*/
}


.process {
    width: 1000px;
    height: 2100px;
/*    border: 1px solid #000;*/
    margin: auto;
    
}

.processbox1 {
    margin: 80px 0px 0px 0px;
/*    border: 1px solid #ddd;*/
    height: 325px;
}

.processbox2 {
    margin: 80px 0px 0px 0px;
/*    border: 1px solid #ddd;*/
    height:610px;
}

.processbox3 {
    margin: 80px 0px 0px 0px;
/*    border: 1px solid #ddd;*/
    height:750px;
}

