/* === reset === */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0
}

img {
    margin: auto;
    border: 0;
}

address,
cite,
em,
strong {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
}

b {
    font-weight: 400;
}


/* ======   import fonts    ====== */


/* Raleway Quicksand Josefin */

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Josefin+Slab:300,400,600|Raleway:400,100,200,300,500,600,700);

/* === COMPONENTS == */

h1 {
    font-size: 38px;
    font-weight: 500;
}

h2 {
    font: 300 18px 'Raleway', sans-serif;
}

h3 {

}

h4 {
    
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

img {
    display: block;
}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #333333;
    text-decoration: none;
}



/* =========================================================
============================================================
============   GENERAL STRUCTURE   =========================
============================================================
===========================================================*/


/* === HEADER === */

header {
    /*    width: 100%;*/
    /*    height: 100%;*/
    text-align: center;
    padding-top: 20px;
    /*    padding-bottom: 100px;*/
    letter-spacing: 1px;
    /*  ---adding background img---
    background-image: url(../images/umu/umuBackground.png);
    background-repeat: no-repeat center top;
    background-size: cover;
*/
}

header img {
/*    display: inline;*/
    width: 24px;
}

/*
.top-pre {
    float: left;
    margin-left: 100px;
    text-align: left;
}

.top-next {
    float: right;
    margin-right: 100px;
    text-align: right;
}
*/

header .content-block {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
.top-nav {
    margin-bottom: 10px;
    margin-top: 10px;
}

.top-nav a {
/*    width: 200px;*/
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #eaeaea;

}

.top-nav a:hover {
    color: #fff;
}

.project_title {
    margin-top: 80px;
    color: white;
}

.project_description {
    /*    width: 480px;*/
    margin: 15px auto 0px auto;
    color: #eaeaea;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

header .btn-default {
    background-color: rgba(0, 0, 0, 0);
    color: #eaeaea;
    border: 1px solid #eaeaea;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0;
    transition-duration: 0.4s;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
}

header .btn-default:hover, header .btn-default:active, header .btn-default:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-color: rgba(0, 0, 0, 0);
}

#project-info {
/*    margin-top: 80px;*/
    padding-top: 50px;
    padding-bottom: 50px;
    color: #969696;
}

#project-info h4 {
    /*    color: #969696;*/
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 200;
}

#project-info p {
    color: #d3d3d3;
    font-size: 12px;
    font-weight: 200;
}

.uppercase {
    text-transform: uppercase;
}


/* === CONTENT === */

.title_line {
    width: 180px;
    height: 1px;
    margin: 20px auto 50px auto;
    background-color: rgb(150, 150, 150);
    overflow: hidden;
}

#content {
    /*
    padding-left: 80px;
    padding-right: 80px;
*/
    /*    margin-left: 80px;*/
}

.row {
    /*
    padding-left: 80px;
    padding-right: 80px;
*/
}

#content h2 {
    padding-bottom: 30px;
    letter-spacing: 1px;
}

#content h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-align: left;
    line-height: 32px;
}

#content h4 {
    font-size: 14px;
/*    text-transform: uppercase;*/
/*    padding-top: 30px;*/
/*    padding-bottom: 10px;*/
    margin-top: 50px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 20px;
}

#content p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 1px;
    margin-top: 10px;
    /*    width: 620px;*/
    text-align: left;
    /*    line-height: 30px;*/
}

.content-block {
    padding-top: 100px;
    padding-bottom: 100px;
}

#content .personal-info p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 30px;
/*    margin-left: 20px;*/
}

.bold {
    font-weight: bold;
}

#content video {
    margin-top: 50px;
}

#content img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.prototypeSlide {
/*    width: 700px;*/
    margin: 25px auto;
    text-align: center;
}

.prototypeSlide img {
/*    width: 650px;*/
    margin: 0px auto 50px auto;
    text-align: center;
}

#umuDetailMobi {
/*    width: 650px;*/
    margin: 150px auto;
}

#content .afterwords {
/*    width: 600px;*/
    color: #969696;
    font-size: 14px;
    font-weight: 200;
    line-height: 28px;
    text-align: center;
}

.bg-gray {
    background-color: rgb(250, 250, 250);
    padding-left: 80px;
    padding-right: 80px;
}

.bg-white {
    background-color: #fff;
    padding-left: 80px;
    padding-right: 80px;
}

.bg-41 {
    background-color: #414141;
    padding-left: 80px;
    padding-right: 80px;
}

#content .btn-default {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #DF5A49;
    border: 1px solid #DF5A49;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0;
    transition-duration: 0.4s;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
}

#content .btn-default:hover {
    background-color: rgba(223, 90, 73, 0.2);
    color: #DF5A49;
    border-color: rgba(0, 0, 0, 0);
}
/* === footer === */

.footer {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.footerText {
    margin: 0px auto 80px auto;
}

.footerText p {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #eaeaea;
    line-height: 2em;
    margin-top: 20px;
}

.footerText a {
    color: #eaeaea;
    border-bottom: 1px #eaeaea dotted; 
}

.footerText a:hover {
    color: #fff;
}

.pre {
    margin-left: 100px;
    float: left;
}

.next {
    margin-right: 100px;
    float: right;
}

.pre,
.next {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #eaeaea;
    /*    margin-top: 100px;*/
}


/* ========================================================
================         UMU         ====================
========================================================*/

.umu_background {
    background-color: #DF5A49;
}

.umu h2, .umu h1 {
    color: #DF5A49;
}

.umu a:hover {
    color: #DF5A49;
}


/* ========================================================
================         BLOG         ====================
========================================================*/

.blog_background {
    background-color: #E27A3F;
}

.blog h2, .blog h1 {
    color: #E27A3F;
}

.blog a:hover {
    color: #E27A3F;
}

.img_hover {
    position: relative;
    width: 620px;
    height: 630px;
    margin: 0px auto 50px auto;
    text-align: center;
}

#blog_analysis_bottom {
    z-index: 1;
    position: absolute;
}

#blog_analysis_top {
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#blog_analysis_top:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/* ========================================================
================         DIRECTORY         ====================
========================================================*/

.directory_background {
    background-color: #42ACE5;
}

.directory h2, .directory h1 {
    color: #42ACE5;
}

h2.strong {
    font-size: 24px;
    font-weight: 200;
    line-height: 32px;
    
    
}

/* ========================================================
================         WENWEN         ====================
========================================================*/

.wenwen_background {
    background-color: #5995E1;
}

.wenwen h2 {
    color: #5995E1;
}


/* ========================================================
================         VR         ====================
========================================================*/

.vr_background {
    background-color: #E09641;
}

.vr h2 {
    color: #E09641;
}