/* === reset === */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0
}

img {
    margin: auto;
    border: 0;
}

address,
cite,
em,
strong {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
}

b{
    font-weight: 400;
}

/* ======   import fonts    ====== */


/* Raleway Quicksand Josefin */

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Josefin+Slab:300,400,600|Raleway:400,100,200,300,500,600,700);

/* === COMPONENTS == */

h1 {
    font-size: 46px;
    font-weight: 500;
}

h2 {
    font: 300 26px 'Raleway', sans-serif;
    margin: auto;
}

h3 {
    font: 300 18px 'Raleway';
    width: 620px;
    margin: 50px auto 10px auto;
    line-height: 22px;
    text-align: left;
}

h4 {
    font-family: 'Raleway', sans-serif;
    margin: 30px auto 0px auto;
    font-size: 14px;
    font-weight: 300;
    color: #969696;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

img {
    display: block;
}

a:link {
    color: rgb(100, 100, 100);
}

a:visited {
    color: rgb(100, 100, 100);
}

a:hover {
    color: #ff6060;
}

a:active {
    /*    color: #d50000;*/
}


/* =========================================================
============================================================
============   GENERAL STRUCTURE   =========================
============================================================
===========================================================*/


/* === HEADER === */

.header {
    /*    width: 100%;*/
    /*    height: 100%;*/
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    letter-spacing: 1px;
    /*  ---adding background img---
    background-image: url(../images/umu/umuBackground.png);
    background-repeat: no-repeat center top;
    background-size: cover;
*/
}

.header img {
    display: inline;
    width: 24px;
   margin-bottom: 80px;
}

.top_pre {
    float: left;
    margin-left: 100px;
    text-align: left;
}

.top_next {
    float: right;
    margin-right: 100px;
    text-align: right;
}

.top_next, .top_pre {
    width: 200px;
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    margin-top: 5px;
}

.project_title {
    color: white;
}

.project_description {
    width: 480px;
    margin: 30px auto 0px auto;
    color: white;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.btn{
    background-color: white;
    border: none;
    color: black;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 200;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/* === CONTENT === */

.content {
    width: 100%;
    margin: 100px auto 0px auto;
    text-align: center;
    /*    border: 1px solid #000;*/
    /*    background-color: darkcyan;*/
}

.title_line {
    width: 180px;
    height: 1px;
    margin: 20px auto 50px auto;
    background-color: rgb(150, 150, 150);
    overflow: hidden;
}

.content p {
    line-height: 28px;
    font-weight: 200;
    color: rgb(100, 100, 100);
    letter-spacing: 0px;
    margin: 10px auto 0px auto;
    width: 620px;
    text-align: left;
    /*    line-height: 30px;*/
}

.content img {
    width: 700px;
    margin: 30px auto 50px auto;
}

.prototypeSlide {
    width: 700px;
    margin: 25px auto;
    text-align: center;
}

.prototypeSlide img {
    width: 650px;
    margin: 0px auto 50px auto;
    text-align: center;
}

#umuDetailMobi {
    width: 650px;
    margin: 150px auto;
}

.afterwords {
    margin: 100px auto;
    width: 600px;
    color: #969696;
    font-size: 14px;
    font-weight: 200;
    line-height: 28px;
    text-align: center;
}


/* === footer === */

.footer {
    width: 100%;
    margin: 150px auto 0px auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.footerText {
    margin: 0px auto 80px auto;
}

.footerText p {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 2em;
    margin-top: 20px;
}

.footerText a {
    color: white;
}

.pre {
    margin-left: 100px;
    float: left;
}

.next {
    margin-right: 100px;
    float: right;
}

.pre,
.next {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    /*    margin-top: 100px;*/
}


/* ========================================================
================         UMU         ====================
========================================================*/

.umu_background {
    background-color: #DF5A49;
}

.umubtn{
    background-color: #DF5A49;
    color: white; 
    border: 1px solid rgb(240, 240, 240);
    margin: 40px 2px 0px 2px;
}
.umubtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-color: #DF5A49;
}
.umu h2 {
    color: #DF5A49;

}


/* ========================================================
================         BLOG         ====================
========================================================*/

.blog_background {
    background-color: #E27A3F;
}

.blog h2 {
    color: #E27A3F;
}

.img_hover {
    position: relative;
    width: 620px;
    height: 630px;
    margin: 0px auto 50px auto;
    text-align: center;
}

#blog_analysis_bottom {
    z-index: 1;
    position: absolute;
}
#blog_analysis_top {

    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#blog_analysis_top:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/* ========================================================
================         DIRECTORY         ====================
========================================================*/
.directory_background {
    background-color: #42ACE5;
}

.directory h2 {
    color: #42ACE5;
}

/* ========================================================
================         WENWEN         ====================
========================================================*/
.wenwen_background {
    background-color: #5995E1;
}

.wenwen h2 {
    color: #5995E1;
}

/* ========================================================
================         VR         ====================
========================================================*/
.vr_background {
    background-color: #E09641;
}

.vr h2 {
    color: #E09641;
}
