body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:428px;
  top:9px;
  width:150px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:1527px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:1528px;
}
#u4 {
  position:absolute;
  left:2px;
  top:756px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:81px;
  width:1000px;
  height:4px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:5px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:525px;
  top:15px;
  width:150px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:525px;
  top:46px;
  width:150px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:34px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:164px;
  width:395px;
  height:218px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:219px;
}
#u12 {
  position:absolute;
  left:2px;
  top:101px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:505px;
  top:164px;
  width:595px;
  height:906px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:907px;
}
#u14 {
  position:absolute;
  left:2px;
  top:445px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:224px;
  top:165px;
  width:150px;
  height:23px;
  font-size:20px;
  color:#AEAEAE;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:728px;
  top:164px;
  width:150px;
  height:23px;
  font-size:20px;
  color:#AEAEAE;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:105px;
  top:199px;
  width:382px;
  height:169px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:169px;
}
#u20 {
  position:absolute;
  left:2px;
  top:76px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:392px;
  width:395px;
  height:534px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:535px;
}
#u22 {
  position:absolute;
  left:2px;
  top:259px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:104px;
  top:396px;
  width:377px;
  height:524px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:524px;
}
#u24 {
  position:absolute;
  left:2px;
  top:254px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:522px;
  top:198px;
  width:391px;
  height:551px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:551px;
}
#u26 {
  position:absolute;
  left:2px;
  top:268px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:523px;
  top:759px;
  width:383px;
  height:293px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:293px;
}
#u28 {
  position:absolute;
  left:2px;
  top:138px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:188px;
  top:1205px;
  width:631px;
  height:94px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:94px;
}
#u30 {
  position:absolute;
  left:2px;
  top:39px;
  width:627px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:728px;
  top:95px;
  width:93px;
  height:34px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:821px;
  top:95px;
  width:93px;
  height:34px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1007px;
  top:95px;
  width:93px;
  height:34px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:914px;
  top:95px;
  width:93px;
  height:34px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1007px;
  top:95px;
  width:93px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:821px;
  top:95px;
  width:92px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:914px;
  top:95px;
  width:92px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:266px;
  top:284px;
  width:524px;
  height:253px;
}
#u44_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:529px;
  height:258px;
}
#u45 {
  position:absolute;
  left:2px;
  top:118px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:739px;
  top:294px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#6B6B6B;
}
#u46_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:289px;
  top:428px;
  width:223px;
  height:79px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#5E5E5E;
}
#u48_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:226px;
  height:82px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:544px;
  top:428px;
  width:223px;
  height:79px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#5E5E5E;
}
#u50_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:226px;
  height:82px;
}
#u51 {
  position:absolute;
  left:2px;
  top:32px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:399px;
  top:344px;
  width:258px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:289px;
  top:457px;
  width:223px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:29px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:545px;
  top:457px;
  width:223px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:29px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:287px;
  top:431px;
  width:225px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:399px;
  top:378px;
  width:258px;
  height:18px;
  color:#666666;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
