body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../搜索概览-概细览_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:331px;
    top:579px;
    width:524px;
    height:99px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:105px;
}

.u1 {
    position:absolute;
    left:2px;
    top:42px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../统计收起_files/u6_normal.png');
}

.u2_container {
    position:absolute;
    left:350px;
    top:408px;
    width:1080px;
    height:42px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:48px;
}

.u3 {
    position:absolute;
    left:2px;
    top:13px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:446px;
    top:422px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:526px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:646px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:586px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:706px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../统计收起_files/u13_normal.png');
}

.u9_container {
    position:absolute;
    left:377px;
    top:418px;
    width:63px;
    height:23px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:29px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:767px;
    top:422px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:846px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:966px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:906px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:1027px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:1087px;
    top:422px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1166px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1287px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:1226px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:1347px;
    top:422px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../页头-概览_files/u240_normal.png');
}

.u22_container {
    position:absolute;
    left:300px;
    top:260px;
    width:1200px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:41px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../页头-概览_files/u242_normal.png');
}

.u24_container {
    position:absolute;
    left:409px;
    top:260px;
    width:79px;
    height:35px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u26_container {
    position:absolute;
    left:488px;
    top:260px;
    width:79px;
    height:35px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u28_container {
    position:absolute;
    left:567px;
    top:260px;
    width:79px;
    height:35px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u30_container {
    position:absolute;
    left:646px;
    top:260px;
    width:79px;
    height:35px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u32_container {
    position:absolute;
    left:725px;
    top:260px;
    width:79px;
    height:35px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../页头-概览_files/u244_normal.png');
}

.u34_container {
    position:absolute;
    left:804px;
    top:260px;
    width:79px;
    height:35px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:41px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../页头-概览_files/u254_normal.png');
}

.u36_container {
    position:absolute;
    left:300px;
    top:260px;
    width:109px;
    height:35px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:41px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../页头-概览_files/u256_normal.png');
}

.u38_container {
    position:absolute;
    left:1407px;
    top:260px;
    width:93px;
    height:35px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:41px;
}

.u39 {
    position:absolute;
    left:2px;
    top:10px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:350px;
    top:511px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../表达式_二次检索_files/u229_normal.png');
}

.u42_container {
    position:absolute;
    left:300px;
    top:295px;
    width:1200px;
    height:86px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:92px;
}

.u43 {
    position:absolute;
    left:2px;
    top:35px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../表达式_二次检索_files/u231_normal.png');
}

.u44_container {
    position:absolute;
    left:1213px;
    top:315px;
    width:99px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:570px;
    top:315px;
    width:633px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_normal {
    background-image: url('../表达式_二次检索_files/u234_normal.png');
}

.u47_container {
    position:absolute;
    left:469px;
    top:315px;
    width:109px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../表达式_二次检索_files/u236_normal.png');
}

.u49_container {
    position:absolute;
    left:369px;
    top:315px;
    width:100px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1322px;
    top:327px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u53_container {
    position:absolute;
    left:488px;
    top:1567px;
    width:27px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u55_container {
    position:absolute;
    left:458px;
    top:1567px;
    width:27px;
    height:30px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u56 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../翻页空间-长_files/u163_normal.png');
}

.u57_container {
    position:absolute;
    left:428px;
    top:1567px;
    width:27px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../翻页空间-长_files/u165_normal.png');
}

.u59_container {
    position:absolute;
    left:350px;
    top:1567px;
    width:68px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../翻页空间-长_files/u167_normal.png');
}

.u61_container {
    position:absolute;
    left:710px;
    top:1567px;
    width:68px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u63_container {
    position:absolute;
    left:580px;
    top:1567px;
    width:27px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u65_container {
    position:absolute;
    left:550px;
    top:1567px;
    width:27px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u67_container {
    position:absolute;
    left:520px;
    top:1567px;
    width:27px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u69_container {
    position:absolute;
    left:612px;
    top:1567px;
    width:27px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u71_container {
    position:absolute;
    left:672px;
    top:1567px;
    width:27px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../翻页空间-长_files/u159_normal.png');
}

.u73_container {
    position:absolute;
    left:642px;
    top:1567px;
    width:27px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:788px;
    top:1574px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:886px;
    top:1567px;
    width:32px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77_normal {
    background-image: url('../翻页空间-长_files/u167_normal.png');
}

.u77_container {
    position:absolute;
    left:928px;
    top:1567px;
    width:68px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:36px;
}

.u78 {
    position:absolute;
    left:2px;
    top:8px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../概细览_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:1383px;
    top:468px;
    width:47px;
    height:24px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../概细览_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:1336px;
    top:468px;
    width:47px;
    height:24px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../概细览_files/u82_normal.png');
}

.u84_container {
    position:absolute;
    left:1289px;
    top:468px;
    width:47px;
    height:24px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../概细览_files/u82_normal.png');
}

.u86_container {
    position:absolute;
    left:1242px;
    top:468px;
    width:47px;
    height:24px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:30px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../排序合并同族_files/u35_normal.png');
}

.u88_container {
    position:absolute;
    left:563px;
    top:468px;
    width:90px;
    height:24px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:30px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../排序合并同族_files/u37_normal.png');
}

.u90_container {
    position:absolute;
    left:446px;
    top:468px;
    width:86px;
    height:24px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:30px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../排序合并同族_files/u37_normal.png');
}

.u92_container {
    position:absolute;
    left:350px;
    top:468px;
    width:86px;
    height:24px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:30px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../排序合并同族_files/u41_normal.png');
}

.u94_container {
    position:absolute;
    left:532px;
    top:468px;
    width:21px;
    height:24px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:30px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_line {
    background-image: url('../概细览_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1080px;
    height:3px;
}

.u97 {
    position:absolute;
    left:350px;
    top:487px;
    width:1080px;
    height:10px;
    
}

.u100 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:379px;
    top:590px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:379px;
    top:618px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:379px;
    top:646px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:449px;
    top:646px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:379px;
    top:696px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:379px;
    top:724px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:379px;
    top:752px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:449px;
    top:752px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:379px;
    top:792px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:379px;
    top:820px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:379px;
    top:848px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:449px;
    top:848px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:379px;
    top:889px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:379px;
    top:917px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:379px;
    top:945px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:449px;
    top:945px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:379px;
    top:985px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:379px;
    top:1013px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:379px;
    top:1041px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:449px;
    top:1041px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:379px;
    top:1082px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:379px;
    top:1110px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:379px;
    top:1138px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:449px;
    top:1138px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:379px;
    top:1178px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:379px;
    top:1206px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:379px;
    top:1234px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:449px;
    top:1234px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:379px;
    top:1274px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:379px;
    top:1302px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:379px;
    top:1330px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:449px;
    top:1330px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:379px;
    top:1371px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:379px;
    top:1399px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:379px;
    top:1427px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:449px;
    top:1427px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:379px;
    top:1467px;
    width:504px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:379px;
    top:1495px;
    width:465px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:379px;
    top:1523px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:449px;
    top:1523px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../搜索概览-概细览_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:812px;
    top:642px;
    width:17px;
    height:22px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:22px;
}

.u170 {
    position:absolute;
    left:2px;
    top:3px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_start {
    background-image: url('../搜索概览-概细览_files/u171_start.png');
}

.u171_start {
    position:absolute;
    left:-4px;
    top:-5px;
    width:14px;
    height:20px;
}

.u171_line {
    background-image: url('../搜索概览-概细览_files/u171_line.png');
}

.u171_line {
    position:absolute;
    left:0px;
    top:4px;
    width:41px;
    height:3px;
}

.u171 {
    position:absolute;
    left:300px;
    top:597px;
    width:41px;
    height:10px;
    
}

.u172 {
    position:absolute;
    left:73px;
    top:594px;
    width:227px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../收藏下载_files/u316_normal.png');
}

.u173_container {
    position:absolute;
    left:351px;
    top:536px;
    width:1080px;
    height:25px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:31px;
}

.u174 {
    position:absolute;
    left:2px;
    top:4px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../收藏下载_files/u318_normal.png');
}

.u175_container {
    position:absolute;
    left:1401px;
    top:536px;
    width:30px;
    height:25px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u176 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../收藏下载_files/u318_normal.png');
}

.u177_container {
    position:absolute;
    left:1372px;
    top:536px;
    width:30px;
    height:25px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u178 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../收藏下载_files/u322_normal.png');
}

.u179_container {
    position:absolute;
    left:1342px;
    top:536px;
    width:30px;
    height:25px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u180 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../收藏下载_files/u326_normal.png');
}

.u183_container {
    position:absolute;
    left:544px;
    top:536px;
    width:54px;
    height:25px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:31px;
}

.u184 {
    position:absolute;
    left:2px;
    top:4px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../收藏下载_files/u326_normal.png');
}

.u185_container {
    position:absolute;
    left:598px;
    top:536px;
    width:54px;
    height:25px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:31px;
}

.u186 {
    position:absolute;
    left:2px;
    top:4px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:446px;
    top:541px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../预览_1_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:1504px;
    top:630px;
    width:11px;
    height:22px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:28px;
}

.u190 {
    position:absolute;
    left:2px;
    top:3px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../预览_1_files/u191_normal.png');
}

.u191_container {
    position:absolute;
    left:1514px;
    top:579px;
    width:576px;
    height:1700px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:582px;
    height:1706px;
}

.u192 {
    position:absolute;
    left:2px;
    top:842px;
    width:572px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:1525px;
    top:596px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:1527px;
    top:643px;
    width:101px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:1796px;
    top:681px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:1527px;
    top:718px;
    width:101px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:1527px;
    top:681px;
    width:101px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:1796px;
    top:643px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:1795px;
    top:718px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:1527px;
    top:756px;
    width:101px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:1527px;
    top:804px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:1527px;
    top:841px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:1795px;
    top:756px;
    width:86px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:1796px;
    top:804px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:1796px;
    top:841px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:1527px;
    top:879px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:1527px;
    top:927px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:1527px;
    top:964px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:1796px;
    top:879px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:1796px;
    top:927px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:1796px;
    top:964px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:1527px;
    top:1002px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:1527px;
    top:1040px;
    width:101px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:1796px;
    top:1002px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:1581px;
    top:643px;
    width:107px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:1581px;
    top:718px;
    width:182px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:1581px;
    top:681px;
    width:87px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:1612px;
    top:756px;
    width:173px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:1591px;
    top:806px;
    width:182px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:1565px;
    top:839px;
    width:221px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:1587px;
    top:873px;
    width:186px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:1582px;
    top:927px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:1596px;
    top:964px;
    width:64px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:1620px;
    top:1002px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225 {
    position:absolute;
    left:1596px;
    top:1040px;
    width:38px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:1905px;
    top:681px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:1854px;
    top:718px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:1905px;
    top:643px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:1881px;
    top:756px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:1869px;
    top:804px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:1843px;
    top:841px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232 {
    position:absolute;
    left:1893px;
    top:879px;
    width:180px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:1855px;
    top:927px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:1869px;
    top:964px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:1869px;
    top:1002px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:1527px;
    top:1093px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:1527px;
    top:1135px;
    width:546px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../预览_1_files/u238_normal.png');
}

.u238_container {
    position:absolute;
    left:1638px;
    top:1256px;
    width:323px;
    height:215px;
}

#u238_img {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:215px;
}

.u239 {
    position:absolute;
    left:2px;
    top:100px;
    width:319px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:1527px;
    top:1705px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:1527px;
    top:1497px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:1527px;
    top:1548px;
    width:448px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:1527px;
    top:1597px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244 {
    position:absolute;
    left:1527px;
    top:1634px;
    width:546px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245 {
    position:absolute;
    left:1527px;
    top:1748px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246 {
    position:absolute;
    left:1527px;
    top:1779px;
    width:546px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247 {
    position:absolute;
    left:1527px;
    top:1854px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:1527px;
    top:1885px;
    width:546px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249 {
    position:absolute;
    left:1527px;
    top:1948px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250 {
    position:absolute;
    left:1527px;
    top:1980px;
    width:546px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:1527px;
    top:2058px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:1527px;
    top:2089px;
    width:546px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253 {
    position:absolute;
    left:1527px;
    top:2172px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:1527px;
    top:2203px;
    width:546px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../预览_1_files/u255_normal.png');
}

.u255_container {
    position:absolute;
    left:2077px;
    top:579px;
    width:13px;
    height:670px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:676px;
}

.u256 {
    position:absolute;
    left:2px;
    top:327px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_normal {
    background-image: url('../预览_1_files/u257_normal.png');
}

.u257_container {
    position:absolute;
    left:2077px;
    top:614px;
    width:13px;
    height:236px;
}

#u257_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:242px;
}

.u258 {
    position:absolute;
    left:2px;
    top:110px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260_normal {
    background-image: url('../搜索概览-概细览_files/u260_normal.png');
}

.u260_container {
    position:absolute;
    left:844px;
    top:635px;
    width:11px;
    height:19px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u261 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262_normal {
    background-image: url('../搜索概览-概细览_files/u262_normal.png');
}

.u262_container {
    position:absolute;
    left:854px;
    top:579px;
    width:576px;
    height:670px;
}

#u262_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:582px;
    height:676px;
}

.u263 {
    position:absolute;
    left:2px;
    top:319px;
    width:572px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264_normal {
    background-image: url('../搜索概览-概细览_files/u264_normal.png');
}

.u264_container {
    position:absolute;
    left:1417px;
    top:579px;
    width:13px;
    height:670px;
}

#u264_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:676px;
}

.u265 {
    position:absolute;
    left:2px;
    top:327px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u266_normal {
    background-image: url('../搜索概览-概细览_files/u266_normal.png');
}

.u266_container {
    position:absolute;
    left:1417px;
    top:590px;
    width:13px;
    height:163px;
}

#u266_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:169px;
}

.u267 {
    position:absolute;
    left:2px;
    top:74px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u268_end {
    background-image: url('../搜索概览-概细览_files/u268_end.png');
}

.u268_end {
    position:absolute;
    left:86px;
    top:-5px;
    width:14px;
    height:20px;
}

.u268_line {
    background-image: url('../搜索概览-概细览_files/u268_line.png');
}

.u268_line {
    position:absolute;
    left:0px;
    top:4px;
    width:95px;
    height:3px;
}

.u268 {
    position:absolute;
    left:1399px;
    top:901px;
    width:95px;
    height:10px;
    
}

