body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../生成检索式_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:87px;
    width:1080px;
    height:69px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:75px;
}

.u1 {
    position:absolute;
    left:2px;
    top:26px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../生成检索式_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:0px;
    width:1080px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../生成检索式_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:125px;
    top:106px;
    width:103px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../生成检索式_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:227px;
    top:106px;
    width:32px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../生成检索式_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:269px;
    top:106px;
    width:103px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../生成检索式_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:372px;
    top:106px;
    width:32px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../生成检索式_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:415px;
    top:106px;
    width:103px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../生成检索式_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:517px;
    top:106px;
    width:32px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../生成检索式_files/u4_normal.png');
}

.u16_container {
    position:absolute;
    left:559px;
    top:106px;
    width:103px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../生成检索式_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:662px;
    top:106px;
    width:32px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../生成检索式_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:704px;
    top:106px;
    width:103px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../生成检索式_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:100px;
    top:185px;
    width:1080px;
    height:577px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1086px;
    height:583px;
}

.u23 {
    position:absolute;
    left:2px;
    top:280px;
    width:1076px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../生成检索式_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:125px;
    top:411px;
    width:205px;
    height:48px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:54px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:201px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../生成检索式_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:125px;
    top:207px;
    width:59px;
    height:48px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:54px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../生成检索式_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:125px;
    top:275px;
    width:59px;
    height:48px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:54px;
}

.u29 {
    position:absolute;
    left:2px;
    top:16px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../生成检索式_files/u26_normal.png');
}

.u30_container {
    position:absolute;
    left:125px;
    top:343px;
    width:59px;
    height:48px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:54px;
}

.u31 {
    position:absolute;
    left:2px;
    top:16px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:330px;
    top:207px;
    width:814px;
    height:48px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#BCBCBC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:330px;
    top:275px;
    width:814px;
    height:48px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#BCBCBC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:330px;
    top:343px;
    width:814px;
    height:48px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#BCBCBC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_normal {
    background-image: url('../生成检索式_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:184px;
    top:275px;
    width:146px;
    height:48px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:54px;
}

.u36 {
    position:absolute;
    left:2px;
    top:13px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../生成检索式_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:184px;
    top:343px;
    width:146px;
    height:48px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:54px;
}

.u38 {
    position:absolute;
    left:2px;
    top:13px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../生成检索式_files/u35_normal.png');
}

.u39_container {
    position:absolute;
    left:184px;
    top:207px;
    width:146px;
    height:48px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:54px;
}

.u40 {
    position:absolute;
    left:2px;
    top:13px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../生成检索式_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:975px;
    top:825px;
    width:205px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:54px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:201px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../生成检索式_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:125px;
    top:469px;
    width:1019px;
    height:262px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1025px;
    height:268px;
}

.u44 {
    position:absolute;
    left:2px;
    top:123px;
    width:1015px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../生成检索式_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:1027px;
    top:433px;
    width:117px;
    height:48px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:54px;
}

.u46 {
    position:absolute;
    left:2px;
    top:16px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../生成检索式_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:886px;
    top:411px;
    width:117px;
    height:48px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:54px;
}

.u48 {
    position:absolute;
    left:2px;
    top:14px;
    width:113px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../生成检索式_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1027px;
    top:411px;
    width:117px;
    height:48px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:54px;
}

.u50 {
    position:absolute;
    left:2px;
    top:14px;
    width:113px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../生成检索式_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:125px;
    top:510px;
    width:1019px;
    height:221px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1025px;
    height:227px;
}

.u52 {
    position:absolute;
    left:2px;
    top:102px;
    width:1015px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../生成检索式_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:142px;
    top:478px;
    width:70px;
    height:22px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:28px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../生成检索式_files/u53_normal.png');
}

.u55_container {
    position:absolute;
    left:222px;
    top:478px;
    width:70px;
    height:22px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:28px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../生成检索式_files/u53_normal.png');
}

.u57_container {
    position:absolute;
    left:302px;
    top:478px;
    width:70px;
    height:22px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:28px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:142px;
    top:527px;
    width:595px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

