body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:205px;
  top:338px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:481px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:205px;
  top:338px;
  width:320px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:205px;
  top:358px;
  width:320px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:316px;
  top:369px;
  width:85px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:466px;
  top:366px;
  width:51px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:315px;
  top:408px;
  width:100px;
  height:156px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:157px;
}
#u11 {
  position:absolute;
  left:2px;
  top:70px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:408px;
  width:100px;
  height:139px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:140px;
}
#u13 {
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:420px;
  top:408px;
  width:100px;
  height:105px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u15 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:577px;
  top:400px;
  width:102px;
  height:113px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:114px;
}
#u17 {
  position:absolute;
  left:2px;
  top:48px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:205px;
  top:296px;
  width:155px;
  height:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:210px;
  top:577px;
  width:100px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:121px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:315px;
  top:570px;
  width:100px;
  height:111px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:112px;
}
#u23 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:420px;
  top:519px;
  width:100px;
  height:105px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u25 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:210px;
  top:703px;
  width:100px;
  height:103px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:104px;
}
#u27 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:315px;
  top:687px;
  width:100px;
  height:111px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:112px;
}
#u29 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:420px;
  top:630px;
  width:100px;
  height:105px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:106px;
}
#u31 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:420px;
  top:741px;
  width:100px;
  height:67px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u33 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:210px;
  top:546px;
  width:100px;
  height:26px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:214px;
  top:552px;
  width:91px;
  height:12px;
  font-size:11px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:210px;
  top:408px;
  width:100px;
  height:139px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:139px;
}
#u39 {
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:266px;
  top:530px;
  width:43px;
  height:12px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:39px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:582px;
  top:494px;
  width:91px;
  height:12px;
  font-size:11px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:636px;
  top:470px;
  width:43px;
  height:12px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-3px;
  width:39px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:273px;
  top:553px;
  width:13px;
  height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:643px;
  top:495px;
  width:13px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:205px;
  top:100px;
  width:223px;
  height:50px;
  font-size:36px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:51px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:205px;
  top:155px;
  width:295px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:205px;
  top:249px;
  width:223px;
  height:33px;
  font-size:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:205px;
  top:769px;
  width:80px;
  height:49px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:285px;
  top:769px;
  width:80px;
  height:49px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:365px;
  top:769px;
  width:80px;
  height:49px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:445px;
  top:769px;
  width:80px;
  height:49px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:224px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:305px;
  top:784px;
  width:41px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:384px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:464px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:823px;
  top:338px;
  width:320px;
  height:480px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:481px;
}
#u74 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:823px;
  top:338px;
  width:320px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:823px;
  top:358px;
  width:320px;
  height:44px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u78 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:934px;
  top:369px;
  width:85px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:823px;
  top:296px;
  width:155px;
  height:18px;
  color:#FF0000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:823px;
  top:249px;
  width:223px;
  height:33px;
  font-size:24px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:823px;
  top:769px;
  width:80px;
  height:49px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:903px;
  top:769px;
  width:80px;
  height:49px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:983px;
  top:769px;
  width:80px;
  height:49px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u91 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1063px;
  top:769px;
  width:80px;
  height:49px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:842px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:923px;
  top:784px;
  width:41px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1002px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1082px;
  top:784px;
  width:41px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:832px;
  top:366px;
  width:51px;
  height:28px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u103 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:823px;
  top:472px;
  width:320px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u104_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:14px;
  height:20px;
}
#u104_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u105 {
  position:absolute;
  left:884px;
  top:442px;
  width:239px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:834px;
  top:417px;
  width:40px;
  height:40px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:884px;
  top:417px;
  width:71px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1071px;
  top:422px;
  width:64px;
  height:30px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
