body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:205px;
  top:100px;
  width:223px;
  height:50px;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:51px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:349px;
  top:281px;
  width:526px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:349px;
  top:307px;
  width:990px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:990px;
  height:3px;
}
#u5 {
  position:absolute;
  left:349px;
  top:234px;
  width:191px;
  height:37px;
  font-size:26px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:38px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
