body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:122px;
  width:281px;
  height:124px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:124px;
}
#u1 {
  position:absolute;
  left:2px;
  top:54px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:270px;
  width:281px;
  height:214px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:214px;
}
#u3 {
  position:absolute;
  left:2px;
  top:99px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:371px;
  top:122px;
  width:381px;
  height:302px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:302px;
}
#u5 {
  position:absolute;
  left:2px;
  top:143px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:371px;
  top:441px;
  width:293px;
  height:121px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:121px;
}
#u7 {
  position:absolute;
  left:2px;
  top:52px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:784px;
  top:122px;
  width:1004px;
  height:945px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:945px;
}
#u9 {
  position:absolute;
  left:2px;
  top:464px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:784px;
  top:1077px;
  width:848px;
  height:167px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:167px;
}
#u11 {
  position:absolute;
  left:2px;
  top:76px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1805px;
  top:295px;
  width:637px;
  height:189px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:189px;
}
#u13 {
  position:absolute;
  left:2px;
  top:86px;
  width:633px;
  visibility:hidden;
  word-wrap:break-word;
}
